.navbar {
  padding: 8px;
  background-color: rgb(13, 31, 54);
}

.navbar ul {
    display: block;
}

.navbar ul  li p {
    display: inline;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.navbar ul li {
    display: inline;
    margin: 5px;
}


.navbar ul li a  {
    color: lightgray;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: lightslategray;
}

.alert {
  padding: 4px;
  background-color: blueviolet;
}

.alert p {
   color: white;
   text-align: center;
   margin: 5px;
   font-family: sans-serif;
}

.contact {
  color: lightslategray;
}

.header {
    text-align: center;
    padding: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

  position: relative;
  z-index: 1;
  border-bottom-left-radius: 15% 39px;
  border-bottom-right-radius: 15% 39px;
}

.header p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.header h3 {
  color: lightgray;
  font-weight: 500;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to bottom, #4eb5f1 0%, #2f80ed 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}


.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}


.button:active {
  transform: translateY(0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 40px;
}

.container p {
   text-align: center;
   font-size: 23px;
}

.container h1 {
  text-align: center;
}


.footer {
   padding: 5px;
   background-color: rgb(13, 31, 54);
}

.footer p {
  color: white;
}

.para {
  color: gray;
  text-decoration: none;
}

.para:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header h3 {
    width: 100%;
  }
}